* {
    padding: 0;
    margin: 0;
}

.heading {
    padding: 5vh;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.passwordLength {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: center;
    padding: 47px 20px 20px 20px;
}


input[type=text],
select {
    width: 21%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.passwordtype {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 27px 20px 20px 20px;
}

.generate {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 17px 20px 20px 20px;
}
h3{
    padding-bottom: 10px;
}
#n1{
    text-align: center;
    min-width: 14%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 7px 10px 7px 14px;
}

.generate button {
    margin: 2px solid #ccc;
    padding: 5px 20px;
}

.out {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 17px 20px 20px 20px;
    margin: 2px solid #ccc;
    padding: 5px 20px;
}

p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.copyright{
    /* background-color: #ccc; */
    padding: 14vh;
}
